<body>
    <form>
        <h2>New-World Resource Calculator(Reactive)</h2>
        <div>
            <label>Wrydwood</label><br>
            <input type="text" name="wrydwood" [(ngModel)]="wrydwood.number" #wyrdwood="ngModel"><br><br>
            
            <p>
                <label>Wrydwood: <span>{{ wrydwood.number | json }}</span></label><br>
                <label>Wrydwood Planks : <span>Total of {{ noOfPlanks | json }} planks can be made.</span></label><br>
                <label>Lumber: <span>{{ noOfLumber | json }}</span></label><br>
                <label>Timber: <span>{{ noOfTimber | json }}</span></label><br>
                <label>Green Wood: <span>{{ noOfGreenWood | json }}</span></label><br>
            </p>
        </div>

        <button type="submit" (click)="calculate()" >Submit</button>
    </form>
</body>